@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Impact, sans-serif;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
}


.container {
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em rgba(0 0 0 / 0.3);
    padding: 2rem;
}

.container__title {
    font-size: 2rem;
    font-weight: 600;
    width: 60%;
    text-align: center;
    margin-inline: auto;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0 0 0 / 0.2);
    padding: 1rem;
}

.section {
    padding: 1rem;

}

.section:not(:last-child) {
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0 0 0 / 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form__field > label {
    font-size: 1.3rem;
}

.form__field > input {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    border-bottom: 2px solid purple;
}

.form__button {
    padding: 0.8rem 1rem;
    background-color: hsl(185, 86%, 47%);
    border-radius: 0.5rem;
    margin-left: auto;
    transition: opacity 0.3s ease-in-out;
    font-weight: 600;
}

.form__button:hover {
    opacity: 0.6;
}